conda.enabled = true

params.input = ""
params.mode = "paired"
params.k_min = 21
params.k_max = 23
params.timestamp = new Date().format("yyyyMMdd_HHmm")
params.output = "peptomineOut_${params.timestamp}"
params.threads = 12

params.use_kraken = false
params.kraken_db = "/home/eduardo/peptomine/kraken_database/k2_standard_08gb_20250402"